<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script></head>
  <body>
    <div id="app" :key="appKey">
      <!-- user info div -->
      <div v-if="!Boolean(userInfo.PhoneNo)">
        <span>phone: <input v-model.trim="phone" placeholder="phone Number" /></span></br>
        <span>password: <input type="password" v-model.trim="password" placeholder="password" /></span>
        <button @click="login()">login</button>
      </div>
      <!-- transfer div -->
      <div v-else >
        hi <i>{{ userInfo.Name }}({{ userInfo.PhoneNo }})</i>, Your Balance is <b>{{ userInfo.Balance }}.</b></br>
        <span>Transfer To:
          <input v-model.trim="transTo" @change="checkReceiver" v-bind:style="'color:'+TransToTextColor" placeholder="receiver phone no."/> 
          Amount: <input type="number" v-model.number="transAmount" placeholder="count">
          <button @click="createOrder()">create order </button> </br>
        </span>
        </br>
        </br>
        <div id="confirmShow" v-if="orderId">
          Pin: <input type="password" v-model="confirmPin" placeholder="input your transter pin code"/> <button @click="confirmOrder()">confirm </button> </br>
        </div>
        </br>
        </br>
        <div>
          <table>
            <tr>
              <th>order_no</th>
              <th>From</th>
              <th>To</th>
              <th>amount</th>
              <th>amount</th>
            </tr>
            <tr v-for="t in transactions">
              <td>{{t.OrderID}}</td>
              <td>{{t.FromUser}}</td>
              <td>{{t.ToUser}}</td>
              <td>{{t.Amount}}</td>
              <td>{{t.UpdateDate}}</td>
            </tr>
          </table>
          <span >
          </span>
        <div >
        </div>
      </div>
    </div>
    </div>
  </body>

  <script type="text/javascript">

    var app = new Vue({
      el: "#app",
      data: {
        appKey: 1,
        phone: "",
        password: "",
        userInfo: {},

        TransToTextColor: "black",
        transactions: null,
        // transfer
        transTo: "",
        transAmount: "",
        orderId: "",
        confirmPin: ""
      },

      computed: {
        isLoginShow: {
          get() {
            return !Boolean(this.userInfo.phone)
          }
        }
      },

      mounted() {
        this.validateLogin()
      },

      methods: {
        request: function(method, url, params, handler, quiet=false) {
          let req
          if (method === "get") {
            req = axios.get(url)
          } else {
            let urlParams = new URLSearchParams();
            for (let k in params) {
              urlParams.append(k, params[k]);
            }
            req = axios.post(url, urlParams)
          }

          req.then((response) => {
            if (response.data.status == 0) {
              handler(response.data)
            } else {
              if (!quiet) {
                alert("error: " + response.data.msg)
              }
            }
          });

        },
        // check cookies
        validateLogin: function() {
          this.request("post", "/user/get_self_info", {}, (data) => {
            alert("you'v login in!")
            this.userInfo = data.body
            this.getLastTransactions()
          }, true)
        },
        // login
        login: function() {
          let params = {
            "phone": this.phone,
            "password": CryptoJS.SHA256(this.password).toString(CryptoJS.enc.Hex)
          }
          this.request("post", "/user/login", params, (data) => {
            this.userInfo = data.body
            this.getLastTransactions()
          },
          )
        },
        checkReceiver: function() {
          let params = {"phone": this.transTo}
          this.TransToTextColor = "red"
          this.request("post", "/user/get_account_info", params, (data) => {
            this.TransToTextColor = "black"
          })
        },

        createOrder: function() {
          let params = {
            "toUser": this.transTo,
            "amount": this.transAmount,
          }
          this.request("post", "/transaction/create_order", params, (data) => {
            this.orderId = data.body.order_no
          })
        },

        updateUserInfo: function() {
          this.request("post", "/user/get_self_info", {}, (data) => {
            this.userInfo = data.body
          })
        },

        confirmOrder: function() {
          let params = {
            "orderId": this.orderId,
            "pin": CryptoJS.SHA256(this.confirmPin).toString(CryptoJS.enc.Hex)
          }
          this.request("post", "/transaction/confirm_order", params, (data) => {
            alert("transfer success")
            this.orderId = ""
            this.updateUserInfo()
            this.getLastTransactions()
          })
        },

        getLastTransactions: function() {
          this.request("get", "/transaction/list", null, (data) => {
                this.transactions = data.body.transactions
          })
        }

      }
    });

  </script>
</html>
